@charset "UTF-8";

@media (max-width: 1345px){
	
	
}

body{
	background-color: skyblue;
	font-family: "Open Sans", Arial, "sans-serif";
}

.whiteContainer{
	background-color: white;
	margin: 20px 40px 20px 40px;
	padding: 5px 10px 5px 10px;
}

.justifyCenter{
	display: flex;
	align-items: center;
}

table{
	background-color: white;
	margin: 1em auto;
	border: none;
}

td{
	border: none;
}

h3{
	font-weight: 400;
	color: skyblue;
	border-bottom: solid 2px;
	padding: 5px;
}

button{

	font-size: 20px;
    line-height: 200%;
	width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: lightblue; 
	
	
	
}

/* Header */ 


.companylogo{
	text-align: center;
	
}
.EqunioxTitle{
	font-size: 45px;
	text-align: center;
	
}

.signOut{
	padding: 15px;
}

.appTitle{
	
	font-size: 35px;
	font-weight: 900;
	text-align: center;
	color: lightblue;
	text-transform: uppercase;
	border-bottom: solid 2px lightblue;
	padding: 20px;
}


.welcome{
	font-size: 30px;
}


#textContainer{
	position: relative;
	width: auto;
	height: auto;
}

.info p{	

	border: 1px solid black;
}

#rightInfoCenter p{
	text-align: center;
	color: black;
	background-color: lightblue; 
}


.scheduleAppointment{
	text-align: center;
	vertical-align: text-bottom;
	background-color: lightblue;
}

.sectionButton{
	color: white;
	font-weight: bold;
	font-size: 18px;
	line-height: normal;
	max-width: 200px;
	margin: auto;
	display: block;
	border: none;
	padding: 10px 0px 10px 0px
	
}
/*.signout{
	border: 1px solid black;
	position: 500px;
	flex 3;
	
}*/



/* Prescription Page */

.prescriptionContainer{
	background-color: #EEF7FA;
	border: solid medium skyblue;
	border-radius: 10px;
	margin: 0px 10px 20px 10px;
	padding: 15px;
}

.spaceBetween{
	display: flex;
	justify-content: space-between;
}

.drugName{
	color: skyblue;
	font-weight: 900;

}

/* User Profile Page */

/* Login/Signup */

.skinnyForm{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

